<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<body>
    <div class="login-container">
        <div class="illustration">
            <img src="/img/h3.jpg" alt="Illustration">
        </div>
        <div class="login-form">
            <h2>LOGIN</h2>
            <form method="POST" action="/login">
                <div class="form-group">
                    <input type="text" >
                </div>
                <div class="form-group">
                    <input type="password">
                </div>
                <div class="form-group">
                    <button type="submit">Đăng Nhập</button>
                </div>
                <p class="forgot-password"><a>Forgot Password</a>? <a href="/register">ĐĂNG KÝ</a></p>
            </form>
        </div>
    </div>
</body>
</html>
